<article{{ attributes }}>
  {{ title_prefix }}{{ title_suffix }}
  <h2 class="title-teaser"><a href="{{ url }}">{{ label }}</a></h2>

    <span class="date">
      <span class="day r">{{ node.createdtime|date('d') }}</span>
      <span class="month r">
        {{ node.createdtime|date('F') }}
        {{ node.createdtime|date('Y') }}
      </span>
    </span>

  <div class="content-wrapper">
    
    <div class="body r">
      {{ content.body }}
    </div>

  </div>

  <div class="r button-wrapper">
    <a href="{{ url }}" class="button read-more">{{ "Read more"|t }}</a>
  </div>
</article>

<hr class="article-separator clear">

